
@media (min-width: 150px) {
    .font_s{
        font-size: 0.5rem;
    }
    
    .font_m{
        font-size: 0.5rem;
    }
    
    .font_m{
        font-size: 1rem;
    }
    
    .font_xl{
        font-size: 1.5rem;
    }
}


@media (min-width: 300px) {
    .font_s{
        font-size: 0.5rem;
    }
    
    .font_m{
        font-size: 1rem;
    }
    
    .font_m{
        font-size: 1.5rem;
    }
    
    .font_xl{
        font-size: 2rem;
    }
}

@media (min-width: 500px) {
    .font_s{
        font-size: 0.75rem;
    }
    
    .font_m{
        font-size: 1.25rem;
    }
    
    .font_m{
        font-size: 2rem;
    }
    
    .font_xl{
        font-size: 2.5rem;
    }
}

@media (min-width: 800px) {
    .font_s{
        font-size: 1rem;
    }
    
    .font_m{
        font-size: 1.5rem;
    }
    
    .font_m{
        font-size: 2.5rem;
    }
    
    .font_xl{
        font-size: 3rem;
    }
}

.txt_center{
    text-align: center;
}