

@media (min-width: 150px) {
    .img_xxl{
        width:  100%;
        flex-basis: 100%;
    }

    .img_xl{
        width: 95%;
        flex-basis: 100%;
    }
    
    .img_l{
        width: 95%;
        flex-basis: 100%;
    }

    .img_m{
        width: 100%;
        flex-basis: 100%;
    }
    
    .img_xs{
        width: 10%;
        flex-basis: 100%;
    }
}



@media (min-width: 800px) {
    .img_xxl{
        width: 100%;
        flex-basis: 100%;
    }

    .img_xl{
        width: 47%;
        flex-basis: 47%;
    }
    
    .img_l{
        width: 25%;
        flex-basis: 25%;
    }

    .img_m{
       width: 20.5%;
       flex-basis: 20.5%;
    }
    
    .img_xs{
        width: 10%;
        flex-basis: 10%;
    }
}

