.margin_s{
    margin: 10px;
}

.margin_l{
    margin: 20px;
}

.margin_xl{
    margin: 40px;
}



.margin_right_s{
    margin-right: 10px;
}

.margin_right_l{
    margin-right: 20px;
}

.margin_right_xl{
    margin-right: 40px;
}

.margin_left_s{
    margin-left: 10px;
}

.margin_left_l{
    margin-left: 20px;
}

.margin_left_xl{
    margin-left: 40px;
}


.margin_top_s{
    margin-top: 10px;
}

.margin_top_l{
    margin-top: 20px;
}

.margin_top_xl{
    margin-top: 40px;
}