
.center{
    justify-content: center;
}

.right{
    justify-content: right;
}

.left{
    justify-content: left;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.evenly{
    justify-content: space-evenly;
}

